<div class="widget tag">
<h3 class="title">简介</h3>
<ul class="entry">
<li>本体：伍文长</li>
<li>二次元：阿长小站</li>
<li>主要工作:web/android/微信开发</li>
<li>兴趣爱好:游泳，跑步，摄影，写作</a>
<li>想交友的朋友请<a href="http://blog.greekw.com/about">猛戳我</a>！</li>
<li>人生格言:我虽不是最优秀之人，但我会让自己变得更优秀。</li>
<li>微信号：952049231</li>
<li>微信公众号:igreeker</li>
<font color="red">开发交流群：519782341</font>
</ul>
</div>
